<h2>The time is <%= @my_var %>.</h2>
<h3>The zebra's name is <%= params[:name] %>.</h3>
<h3>The zebra named <%= @z_name %> has a weight of <%= @z.weight %>.</h3>
<%= link_to "this zebra's page", zebra_path(@z) %>